<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - L.I.S.A</title>
    
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/themify-icons.css" rel="stylesheet" />
    <link href="~/css/icofont.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/L.I.S.A.styles.css" asp-append-version="true" />
    <link href="~/css/jquery.mcustomscrollbar.css" rel="stylesheet" />
    <link href="~/css/waves.min.css" rel="stylesheet" media="all" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body themebg-pattern="theme1">

    <div class="theme-loader">
        <div class="loader-track">
            <div class="preloader-wrapper">

                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - L.I.S.A - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/waves.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.slimscroll.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/smoothscroll.js"></script>
    <script src="~/lib/bootstrap/dist/js/jquery.mcustomscrollbar.concat.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/common-pages.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/script.js"></script>
    <script src="~/lib/bootstrap/dist/js/script.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/css-scrollbars.js"></script>
    <script src="~/lib/bootstrap/dist/js/excanvas.js"></script>
    <script src="~/lib/bootstrap/dist/js/modernizr.js"></script>
    <script src="~/lib/bootstrap/dist/js/pcoded.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/vertical-layout.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/custom-dashboard.js"></script>

 

    <script type="text/javascript" src="assets/js/chart.js/Chart.js"></script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
