@using Microsoft.AspNetCore.Identity
@model IEnumerator<IdentityRole>

@{
    ViewData["Title"] = "Company Roles";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
